@media only screen and (max-width: 667px) {
  #education {
    margin-top: 500px;
    width: 100%;
    letter-spacing: 4px;
    font-size: 1.1em;
    border-top: 5px grey solid;
    text-align: left;
  }
  #education h1 {
    font-size: 2.5em;
    margin-left: 40px;
    margin-top: 50px;
  }
  #myEdu img {
    float: right;
    margin-bottom: 50px;
    margin-left: 10px;
  }

  #myEdu h3 {
    font-size: 1em;
    margin-left: 50px;
  }
  #myEdu h2 {
    font-size: 1em;
    margin-left: 50px;
  }
  #myEdu img {
    height: 100px;
    width: 100px;
    margin-right: 30px;
  }
  #myEdu ul {
    margin-right: 20px;
    margin-left: 20px;
  }
  #myEdu li {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 1190px) and (min-width: 780px) {
  #education {
    margin-top: 1300px;
    letter-spacing: 4px;
    font-size: 1.1em;
    width: 70%;
    position: absolute;
    right: 0;
    height: 100vh;
    margin-right: 50px;
    border-top: 5px grey solid;
    text-align: left;
  }
  #myEdu img {
    float: right;
    margin-bottom: 50px;
    margin-left: 20px;
  }
  #myEdu {
    text-align: left;
  }
}
@media only screen and (min-width: 1191px) {
  #education {
    margin-top: 2000px;
    letter-spacing: 4px;
    font-size: 1.3em;
    width: 70%;
    position: absolute;
    right: 0;
    height: 100vh;
    margin-right: 50px;
    border-top: 5px grey solid;
    text-align: left;
  }
  #myEdu img {
    float: right;
    margin-bottom: 50px;
    margin-left: 20px;
  }
  #myEdu {
    text-align: left;
  }
  #myEdu img {
    height: 200px;
    width: 250px;
  }
}
